p
    | Hi,
    =username
p
    | Welcome to Child Pass - where you can create a stunningly beautiful website.  Please use this link to confirm your email address:
    a(href=activation_link)
        =activation_link
p
    | Child Pass