p
    | Dear Member,
p
    | Welcome to ChildPass - the world's first personalized missing or abducted child emergency alert solution. Please, click on the link below to confirm your email address and activate your membership:
p
    a(href=activation_link)
        =activation_link
p
    | The ChildPass Team