h1 Survey Results of user:
   &nbsp;
   =username

table
    each result in surveyResults
        tr
            td
                !=result.question
            td
                !=result.answer


