h2(style='text-transform: uppercase;font-weight: normal;') It looks, that you've requested password reset procudure.
p
    | Please, follow the link below and type in Your new password:
    a(href=link)=link
