@import "compass/utilities/sprites";
@import "icons/*.png";
@include all-icons-sprites(true);

.step-header {
    font: Verdana, Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: #808080;
    padding: 20px 20px 0;
    .step-description {
        float: left;
        width: 50%;
        padding-top: 10px;
        h2.welcome {
            font-weight: bold;
            span {
                color: #002f65;
            }
        }
    }
    .step-list {
        float: right;
        width: 50%;
        padding-left: 30px;
        box-sizing: border-box;
        ul {
            list-style-type: none;
            margin: 0;
            li {
                display: block;
                height: 46px;
                margin: 5px;
                line-height: 46px;
                font-size: 20px;
                font-weight: bold;
                color: #c4c4c4;
                .step-number {
                    float: left;
                }
                .step-icon {
                    float: left;
                    margin: 0 20px;
                }
                &.active {
                    color: #6a6a6a;
                }
            }
        }
    }
}

.MultiFile-wrap {
    padding: 20px 0;
    text-align: left;
    .MultiFile-applied {
        padding: 10px 0;
    }
    .MultiFile-label {
        padding: 10px 0;
        .MultiFile-remove {
            display: inline-block;
            float: left;
            background: url('../images/sprite-icons.png') 0 -680px no-repeat transparent;
            height: 18px;
            width: 18px;
            margin-right: 5px;
        }
    }
}