:php
    Yii::app()->clientScript->scriptMap['jquery.js'] = false;
    Yii::app()->clientScript->scriptMap['jquery.min.js'] = false;
    Yii::app()->clientScript->scriptMap['jquery-ui.min.js'] = false;
div
    :php
        $form = $this->beginWidget('CActiveForm', array(
            'enableClientValidation'=>true,
            'id' => 'activate_alert_form',
            'clientOptions' => array(
                'afterValidate' => 'js:submitForm',
                'validateOnSubmit' => true,
                'validateOnChange' => true,
                'validateOnType' => true,
                'hideErrorMessage' => false
            ),
        ))


    each childInfo in childrenInfo
        div.row
            !=$form->checkBox($childInfo['incidentModel'], 'child_id', array('value' => $childInfo['incidentModel']->child_id, 'checked' => false))
            :php
                $full_name = $childInfo['child']->first_name . ' ' . $childInfo['child']->middle_name . ' ' . $childInfo['child']->last_name;

            label(style="padding-left: 10px")
                !=$full_name
            !=$form->error($childInfo['incidentModel'], 'child_id')

    !=CHtml::submitButton('save');
    -$this->endWidget();

