if (saved)
    p You activated alert! You can download flyer for lost children now!
else
    :php
        Yii::app()->clientScript->scriptMap['jquery.js'] = false;
        Yii::app()->clientScript->scriptMap['jquery.min.js'] = false;
        Yii::app()->clientScript->scriptMap['jquery-ui.min.js'] = false;
    div
        :php
            $form = $this->beginWidget('CActiveForm', array(
                'enableClientValidation' => true,
                'id' => 'activate_alert_form',
                'clientOptions' => array(
                    'afterValidate' => 'js:submitForm',
                    'validateOnSubmit' => true,
                    'validateOnChange' => true,
                    'validateOnType' => true,
                    'hideErrorMessage' => false
                ),
            ))

        :php
            $counter = 0;
        each childInfo in childrenInfo
            div.row
                div
                !=$form->checkBox($childInfo['incidentModel'], '[' . $counter . ']child_id', array('value' => $childInfo['incidentModel']->child_id, 'checked' => false, 'class' => 'child_checkbox'))
                :php
                    $full_name = $childInfo['child']->first_name . ' ' . $childInfo['child']->middle_name . ' ' . $childInfo['child']->last_name;

                label(style="padding-left: 10px")
                    !=$full_name
                !=$form->error($childInfo['incidentModel'], 'child_id')

            :php
                $style = 'display:';
                if (isset($childInfo['incidentModel']['errors']['child_description'])) {
                    $style .= 'block;';
                } else {
                    $style .= 'none;';
                }

            div.row(style=style)
                !=$form->labelEx($childInfo['incidentModel'],   'child_description')
                !=$form->textArea($childInfo['incidentModel'], '[' . $counter . ']child_description', array('value' => $childInfo['incidentModel']->child_description, 'cols' => 30, 'rows' => 10, 'maxlength' => '255'))
                !=$form->error($childInfo['incidentModel'], 'child_description')

            :php
                $counter++;

        div.row
            lable Description
            textarea(name="description", rows="10", cols="30")
            //!=CHtml::textArea('description', '', , array('rows' => 10, 'maxlength' => '255'))
        div.row
            label(style="padding-right: 10px") Date
            !=CHtml::textField('date', '', array('maxlength' => '255'))

        div.row
            !=CHtml::submitButton('Activate Alert');
        -$this->endWidget();