if (saved)
    p You activated alert! You can download flyer for lost children now!
else
    :php
        Yii::app()->clientScript->scriptMap['jquery.js'] = false;
        Yii::app()->clientScript->scriptMap['jquery.min.js'] = false;
        Yii::app()->clientScript->scriptMap['jquery-ui.min.js'] = false;
    div(style="width:90%; height: 700px; overflow: auto;  margin: 10px auto;")
        :php
            $form = $this->beginWidget('CActiveForm', array(
                'enableClientValidation' => true,
                'id' => 'activate_alert_form',
                'clientOptions' => array(
                    'afterValidate' => 'js:submitForm',
                    'validateOnSubmit' => true,
                    'validateOnChange' => true,
                    'validateOnType' => true,
                    'hideErrorMessage' => false
                ),
            ))

        :php
            $counter = 0;
            $descriptionError = null;
            $dateError = null;
            $modelWithError = null;
        each childInfo in childrenInfo
            div.row
                !=$form->checkBox($childInfo['incidentModel'], '[' . $counter . ']child_id', array('value' => $childInfo['incidentModel']->child_id, 'checked' => ($childInfo['incidentModel']->errors) ? 'checked' : false, 'class' => 'child_checkbox'))

                :php
                    $checkbox_id = 'Incident_' . $counter . '_child_id';
                    $full_name = $childInfo['child']->first_name . ' ' . $childInfo['child']->middle_name . ' ' . $childInfo['child']->last_name;
                    if  (isset($childInfo['incidentModel']->errors['description'])) {
                        $descriptionError = $form->error($childInfo['incidentModel'], 'description', array('style' => 'color: #f00'));
                        $modelWithError = $childInfo['incidentModel'];
                    }

                    if  (isset($childInfo['incidentModel']->errors['date'])) {
                        $dateError = $form->error($childInfo['incidentModel'], 'date', array('style' => 'color: #f00'));
                        $modelWithError = $childInfo['incidentModel'];
                    }

                label(style="padding-left: 10px", for=checkbox_id)
                    !=$full_name
                !=$form->error($childInfo['incidentModel'], 'child_id', array('style' => 'color: #f00'))


            :php
                $style = 'display:';
                if ($childInfo['incidentModel']->errors) {
                    $style .= 'block;';
                } else {
                    $style .= 'none;';
                }

            div.row(style=style)
                !=$form->labelEx($childInfo['incidentModel'],   'child_description', array('style' => 'display: block'))
                !=$form->textArea($childInfo['incidentModel'], '[' . $counter . ']child_description', array('value' => $childInfo['incidentModel']->child_description, 'rows' => 6, 'cols' => 50, 'maxlength' => '255', 'style' => 'resize:none;'))
                !=$form->error($childInfo['incidentModel'], 'child_description', array('style' => 'color: #f00'))

            :php
                $counter++;

        div.row
            lable(style="display: block;") Description *

            :php
                echo CHtml::textArea('description', $descriptionValue, array('rows' => '6', 'cols' => '50', 'maxlength' => '255', 'style' => 'resize:none;'));
                if ($descriptionError) {
                   echo $descriptionError;
                }

        div.row
            label(style="display: block;") Date (yyyy-mm-dd hh:mm:ss) *
            !=CHtml::textField('date', dateValue, array('maxlength' => '255'))
            if ($dateError)
                !=$dateError;

        div.row
            !=CHtml::submitButton('Activate Alert');

        -$this->endWidget();