:php
    if (isset($data['childId'])) {
            echo '<script> var childId = ' .  $data['childId'] . '; </script>';
    } else {
        echo "<script> var childId = null; </script>";
    }

.step-header
    .step-description
        h2.welcome
            | Welcome,&nbsp
            span=Yii::app()->user->getName();
        p This page in Step 1 of the 4 Step Child Profile Process
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .step-list
        ul
            li.step1.active
                .step-number.icons-step1
                .step-icon.icons-kids
                span Personal Profile
            li.step2
                .step-number.icons-step2_disable
                .step-icon.icons-camera_gray
                span Recent Photo
            li.step3
                .step-number.icons-step3_disable
                .step-icon.icons-dental_gray


                span Dental Record
            li.step4
                .step-number.icons-step4_disable
                .step-icon.icons-survey_gray
                span Survey

.panel
    .contentWrapper
        h2 Child Profile
        p(style='margin-left: 20px;') (All fields are required.)
        !=$form->renderBegin()
            div(style='width: 96%; text-align: center;')
                div.row
                    !=$form['child']['first_name']
                div.row
                    !=$form['child']['last_name']
                div.row
                    !=$form['child']['middle_name']
                div.row
                    !=$form['child']['gender']
                div.row
                    !=$form['child']['ethnicity_id']
                div.row
                    !=$form['child']['eyes_color_id']
                div.row
                    !=$form['child']['hair_color_id']
                div.row
                    !=$form['child']['address']
                div.row
                    !=$form['child']['address2']
                div.row
                    !=$form['child']['zip_code']
                div.row
                    !=$form['child']['birthday']
                div.row
                    !=$form['child']['distinctive_marks']
                div.row
                    !=$form['child']['school']
                div.row
                    !=$form['child']['school_address']
                div.row
                    !=$form['child']['school_address2']
                div.row
                    !=$form['child']['school_zip_code']
                div.row
                    !=$form['child']['state']
                div.row
                    !=$form['child']['school_state']
                div.row
                    !=$form['child']['grade']


                div#relatives
                    h3 Known Relatives
                    if data.relatives
                        table#relatives_table(style="margin: 0 auto;  text-align: left; border-spacing: 10px;border-collapse: separate;")
                            thead
                                tr
                                    th First Name
                                    th Last Name
                                    th Relation to Child?
                                    th

                                :php
                                    $counter = 0;
                            tbody
                                each relative in data.relatives
                                    tr
                                        td
                                            :php
                                                echo CHtml::textField("Relative[$counter][first_name]", $relative['first_name']);
                                        td
                                            :php
                                                echo CHtml::textField("Relative[$counter][last_name]", $relative['last_name']);
                                        td
                                            :php
                                                echo CHtml::dropDownList("Relative[$counter][relation_id]", $relative['selectedRelation'], $data['relationOptions'], array('empty' => 'Select Relation'));
                                        td
                                            button.button.small.delete_relative(type="button") -
                                            :php
                                                echo CHtml::hiddenField("Relative[$counter][relative_id]", $relative['id'], array('class' => 'relative_id'));
                                                echo CHtml::hiddenField("Relative[$counter][child_relative_id]", $relative['childRelationId'], array('class' => 'child_relative_id'));
                                    :php
                                        $counter++;
                    else
                        table#relatives_table(style="margin: 0 auto;  text-align: left; border-spacing: 10px;border-collapse: separate;")
                             thead
                                tr
                                    th First Name
                                    th Last Name
                                    th Relation to Child?
                                    th
                            tbody
                                tr
                                    td
                                        input(name="Relative[0][first_name]")
                                    td
                                        input(name="Relative[0][last_name]")
                                    td
                                        :php
                                            echo CHtml::dropDownList("Relative[0][relation_id]", '', $data['relationOptions'], array('empty' => 'Select Relation'));
                                    td

                            :php
                                $counter = 1


                    button.button.small#add_relative(type="button") +



                div.row(style='margin-bottom: 60px; position: relative;')
                    !=$form->buttons['next_step']



        !=$form->renderEnd();

:php
    echo '<script>var relativesNumber = ' . $counter . ';</script>';
    Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/js/child.js');