:php
    if (isset($data['childId'])) {
            echo '<script> var childId = "' .  $data['childId'] . '"; </script>';
    } else {
        echo "<script> var childId = null; </script>";
    }

    echo '<script> var step = "' .  $data['step'] . '"; </script>';



.step-header
    .step-description
        h2.welcome
            | Welcome,&nbsp
            span=Yii::app()->user->getName();
        p This page in Step 1 of the 4 Step Child Profile Process
        p Please, complete the Child Profile in as much detail as you can.
    .step-list
        ul
            li.step1.active
                .step-number.icons-step1
                .step-icon.icons-kids
                span Personal Profile
            li.step2
                .step-number.icons-step2_disable
                .step-icon.icons-camera_gray
                span Recent Photo
            li.step3
                .step-number.icons-step3_disable
                .step-icon.icons-dental_gray
                span Dental Record
            li.step4
                .step-number.icons-step4_disable
                .step-icon.icons-survey_gray
                span Alert Settings


.panel
    .contentWrapper
        h2 Child Profile
        p (All "*"  fields are required)
        !=$form->renderBegin()
            div(style='width: 98%;')
                .formRow
                    .fieldWrapper
                        !=$form['child']['first_name']
                    .fieldWrapper
                        !=$form['child']['last_name']
                    .fieldWrapper
                        !=$form['child']['middle_name']
                    .fieldWrapper
                        !=$form['child']['birthday']


                .formRow
                    .fieldWrapper
                        !=$form['child']['gender']
                    .fieldWrapper
                        !=$form['child']['ethnicity_id']
                    .fieldWrapper
                        !=$form['child']['eyes_color_id']
                    .fieldWrapper
                        !=$form['child']['hair_color_id']

                .formRow
                    .addressWrapper
                        !=$form['child']['address']
                    .fieldWrapper
                        !=$form['child']['city']
                    .fieldWrapper
                        .fieldWrapper.state
                            !=$form['child']['state']
                        .fieldWrapper.zipCode
                            !=$form['child']['zip_code']

                .distinctiveMarksWrapper.formRow
                    h3 Distinctive marks
                    !=$form['child']['distinctive_marks']


                .formRow
                    .fieldWrapper
                        !=$form['child']['school']
                    .fieldWrapper
                        !=$form['child']['grade']
                    .schoolDetailsWrapper
                        !=$form['child']['additional_school_details']
                    .fieldWrapper

                .formRow
                    .addressWrapper
                        !=$form['child']['school_address']
                    .fieldWrapper
                        !=$form['child']['school_city']
                    .fieldWrapper
                        .fieldWrapper.state
                            !=$form['child']['school_state']
                        .fieldWrapper.zipCode
                            !=$form['child']['school_zip_code']


                div#relatives
                    h3 known relative/caregiver
                    if data.relatives
                        table#relatives_table
                            thead
                                tr
                                    th First Name
                                    th Last Name
                                    th Relation to Child?
                                    th

                                :php
                                    $counter = 1;
                            tbody
                                each relative in data.relatives
                                    tr
                                        td
                                            :php
                                                echo CHtml::textField("Relative[$counter][first_name]", $relative['first_name'], array('maxlength' => '100', 'class' => 'required'));
                                        td
                                            :php
                                                echo CHtml::textField("Relative[$counter][last_name]", $relative['last_name'], array('maxlength' => '100', 'class' => 'required'));
                                        td
                                            :php
                                                echo CHtml::dropDownList("Relative[$counter][relation_id]", $relative['selectedRelation'], $data['relationOptions'], array('empty' => 'Select Relation', 'class' => 'relation_id required'));
                                        td
                                            button.button.small.delete_relative(type="button") delete
                                            :php
                                                echo CHtml::hiddenField("Relative[$counter][relative_id]", $relative['id'], array('class' => 'relative_id'));
                                                echo CHtml::hiddenField("Relative[$counter][child_relative_id]", $relative['childRelationId'], array('class' => 'child_relative_id'));
                                    :php
                                        $counter++;
                    else
                        table#relatives_table
                             thead
                                tr
                                    th First Name
                                    th Last Name
                                    th Relationship to Child?
                                    th
                             tbody
                                tr
                                    td
                                        input(name="Relative[0][first_name]", maxlength="100", class="required")
                                    td
                                        input(name="Relative[0][last_name]", maxlength="100", class="required")
                                    td
                                        :php
                                            echo CHtml::dropDownList("Relative[0][relation_id]", '', $data['relationOptions'], array('empty' => 'Select Relation', 'class' => 'relation_id required'));
                                    td
                                        button.button.small.delete_relative(type="button") delete

                            :php
                                $counter = 1


                    button.button.small#add_relative(type="button") +
                    if (data.isAddingNextChild)
                        &nbsp;&nbsp;&nbsp;
                        button.button.small#add_saved_relatives(type="button") Add relatives from other children



                div.row.formActions
                    !=$form->buttons['next_step']



        !=$form->renderEnd();

:php
    Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/libs/jquery.validate.js');
    echo '<script>var relativesNumber = ' . $counter . ';</script>';
    Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/js/child.js');