.step-header
    .step-description
        h2.welcome
            span Welcome,&nbsp
            !=Yii::app()->user->getName();
        p This page in Step 3 of the 4 Step Child Profile Process
        p Please, click on the teeth, that your child is missing, so they appear grey.
    .step-list
        ul
            li.step1.active
                .step-number.icons-step1
                .step-icon.icons-kids
                span Personal Profile
            li.step2.active
                .step-number.icons-step2
                .step-icon.icons-camera
                span Recent Photo
            li.step3.active
                .step-number.icons-step3
                .step-icon.icons-dental
                span Dental Record
            li.step4
                .step-number.icons-step4_disable
                .step-icon.icons-survey_gray
                span Alert Settings

    .clear
.panel.contentWrapper
    #teeth-area
        .legend
            div.row(style="margin-bottom: 30px;margin-left:100px;") Explanation of color coding:
            div.row(style="margin-bottom: 30px;margin-left:100px;")
                table
                    tr
                        td(style="background:#00c040;width:50px;height:50px;border-bottom: 30px solid #fff;") &nbsp;
                        td(style="vertical-align: middle;padding-left: 10px;border-bottom: 30px solid #fff;") Central and Lateral Incisors

                    tr
                        td(style="background:#ff4200;width:50px;height:50px;border-bottom:30px solid #fff;") &nbsp;
                        td(style="vertical-align: middle;padding-left: 10px;border-bottom:30px solid #fff;") Canines (cuspids)

                    tr
                        td(style="background:#ffc800;width:50px;height:50px;border-bottom:30px solid #fff;") &nbsp;
                        td(style="vertical-align: middle;padding-left: 10px;border-bottom:30px solid #fff;") Pre Molars (bicuspids)

                    tr
                        td(style="background:#00a0d4;width:50px;height:50px;border-bottom:30px solid #fff;") &nbsp;
                        td(style="vertical-align: middle;padding-left: 10px;border-bottom:30px solid #fff;") Molars and Wisdom


    !=$form->renderBegin()
        .row
            !=$form['child']['teeth']
        .row(style='margin-bottom: 60px; position: relative; width: 500px; text-align: right;')
            div(style='float: left')
                !=$form->buttons['prev_step']
            !=$form->buttons['next_step']
    !=$form->renderEnd();
.clear
:php
    Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/js/raphael/raphael-min.js');
    Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/js/child/teeth.js');