.step-header
    .step-description
        h2.welcome
            span Welcome,&nbsp
            !=Yii::app()->user->getName();
        p This page in Step 4 of the 4 Step Child Profile Process
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .step-list
        ul
            li.step1.active
                .step-number.icons-step1
                .step-icon.icons-kids
                span Personal Profile
            li.step2.active
                .step-number.icons-step2
                .step-icon.icons-camera
                span Recent Photo
            li.step3.active
                .step-number.icons-step3
                .step-icon.icons-dental
                span Dental Record
            li.step4.active
                .step-number.icons-step4
                .step-icon.icons-survey
                span Alert Settings

.panel
    .contentWrapper
        h3 Emergency Alert Distribution
        div#alert_settings_description Please select which recipients and social networks you would like to distribute your emergency alert
        !=$form->renderBegin()
            div
                .formRow
                    - $this->widget('application.components.SocialNetworksWidget');
                .formRow
                    div#notification_email_description Email Local Police, Hospital, School, Friends, Family
                    !=$form['child']['notification_emails']

                .row.submit_buttons
                    div.prev_button_container
                        !=$form->buttons['prev_step']
                    !=$form->buttons['next_step']
        !=$form->renderEnd();
:php
    Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/js/child.js');