.panel
    .contentWrapper
        .child-list
            ul
                - if (empty($childList)):
                    p You have not added any child.
                - else
                    - foreach ($childList as $child):
                        li
                            h3!= $child->first_name
                            - if(isset($child->childPhotos[0])):
                                a(href=$this->createUrl('child/add', array('step' => 'step1', 'child_id' => $child->id)))
                                    img(src = $child->childPhotos[0]->filename)
                            a(href=$this->createUrl('child/download-flyer', array('id' => $child->id)), class = 'flyer-link', target='_blank') Dowload Flyer
                            a.edit-link(href=$this->createUrl('child/add', array('step' => 'step1', 'child_id' => $child->id))) Edit Child
                    - endforeach
            a.edit-child(href=$this->createUrl('child/add', array('step' => 'step1'))) Add Child »