.flierWrapper.panel.contentWrapper
    .mainSection
        .photoWrapper
            img(src=$this->baseUrl . '/children/' . $child->primaryKey . '/photos/79.jpg')
        .childData
            h1.childName=child->name
            .row
                span.fieldName Date of birth:
                !=' '
                -$birthday = date('F d, Y', strtotime($child->birthday))
                =birthday
            .row
                span.fieldName Missing date:
                !=' '
                =missingInfo["date"]
            .row
                span.fieldName Age at time of disappearance:
                !=' '
                =missingInfo->age
            .row
                span.fieldName Sex:
                !=' '
                =child->gender
            .row
                span.fieldName Race:
                !=' '
                =child->ethnicity->name
            .row
                span.fieldName Eyes:
                !=' '
                =child->eyesColor->name
            .row
                span.fieldName Hair:
                !=' '
                =child->hairColor->name

            -$heightFeet   = $child->height_feet   ? $child->height_feet   . "'" : "";
            -$heightInches = $child->height_inches ? $child->height_inches . '"' : '';
            -$height = $heightFeet . $heightInches
            -if ($height):
                .row
                    span.fieldName Height:
                    !=' '
                    =height
            -if ($child->weight):
                .row
                    span.fieldName Weight:
                    !=' '
                    =child->weight
            -if ($missingInfo["from"]):
                .row
                    span.fieldName Missing from:
                    !=' '
                    =missingInfo["from"]

    .description
        p.
            Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
        p.
            Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Integer pharetra lectus dictum blandit vestibulum.
            Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
    .footer
        .warningWrapper
            strong.warning
                | If you have any information, please call (911) immediately!
        .logoWrapper
            img.logo(src=$this->baseUrl . '/images/CP_logo.png')
