.aboutPage
    .rightColumn
        a(href=$this->createUrl('user/register'))
            .powerblock(style='width: 286px; height: 102px; float: left; margin: 15px 0px 12px 20px; padding-top: 20px;') Register and upload now!
        .prodbox.pcol
            img(style='float: left; margin: 9px 0 0 10px;', src=$this->baseUrl . '/images/gps.png')
            .titlebox
                div(style='float: left; text-shadow: 0.06em 0.06em 0.1em gray;') GPS Tracking
                p Duis lorem est, blandit ac tortor sed, luctus luctus velit
            a details»
        .prodbox.pcol
            img(style='float: left; margin: 15px 0 0 15px;', src=$this->baseUrl . '/images/kids.png')
            .titlebox
                div(style='float: left; text-shadow: 0.06em 0.06em 0.1em gray;') Personal Profile
                p Duis lorem est, blandit ac tortor sed, luctus luctus velit
            a details»
        .prodbox.pcol
            img(style='float: left; margin: 27px 0 0 10px;', src=$this->baseUrl . '/images/DNA.png')
            .titlebox
                div(style='float: left; text-shadow: 0.06em 0.06em 0.1em gray;') DNA Record
                p Duis lorem est, blandit ac tortor sed, luctus luctus velit
            a details»
        .prodbox.pcol
            img(style='float: left; margin: 27px 0 0 10px;', src=$this->baseUrl . '/images/hands.png')
            .titlebox
                div(style='float: left; text-shadow: 0.06em 0.06em 0.1em gray;') Fingerprint Kit
                p Duis lorem est, blandit ac tortor sed, luctus luctus velit
            a details»
        .prodbox.pcol
            img(style='float: left; margin: 27px 0 0 14px;', src=$this->baseUrl . '/images/camera.png')
            .titlebox
                div(style='float: left; text-shadow: 0.06em 0.06em 0.1em gray;') Recent Photos
                p Duis lorem est, blandit ac tortor sed, luctus luctus velit
            a details»
        .prodbox.pcol
            img(style='float: left; margin: 25px 0 0 20px;', src=$this->baseUrl . '/images/dental.png')
            .titlebox
                div(style='float: left; text-shadow: 0.06em 0.06em 0.1em gray;') Dental Record
                p Duis lorem est, blandit ac tortor sed, luctus luctus velit
            a details»
    .mainColumn.panel
        .contentWrapper
            .abouthead Mission
            p
                | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
            p(style='margin-bottom: 30px;')
                | Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Integer pharetra lectus dictum blandit vestibulum.
            .abouthead The Founders
            div(style='width: 569px; margin-top: 21px;')
                img(style='float: left; margin-right: 15px;', src=$this->baseUrl . '/images/Peter.png')
                .aboutfounder Peter Metti
                p
                    | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
                p(style='margin-bottom: 48px;')
                    | Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Integer pharetra lectus dictum blandit vestibulum.
                img(style='float: left; margin-right: 15px;', src=$this->baseUrl . '/images/Alan.png')
                .aboutfounder Alan Schissel
                p
                    | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
                p
                    | Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Integer pharetra lectus dictum blandit vestibulum.

        .clearRight