.aboutPage
    .rightColumn
        include sidebarWithFeatures.jade
    .mainColumn.panel
        .contentWrapper
            h2 Mission
            p
                | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
            p(style='margin-bottom: 30px;')
                | Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Integer pharetra lectus dictum blandit vestibulum.
            h2 The Founders
            div(style='width: 569px; margin-top: 21px;')
                img(style='float: left; margin-right: 15px;', src=$this->baseUrl . '/images/Peter.png')
                h3 Peter Metti
                p
                    | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
                p(style='margin-bottom: 48px;')
                    | Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Integer pharetra lectus dictum blandit vestibulum.
                img(style='float: left; margin-right: 15px;', src=$this->baseUrl . '/images/Alan.png')
                h3 Alan Schissel
                p
                    | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
                p
                    | Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Integer pharetra lectus dictum blandit vestibulum.

        .clearRight