.aboutPage
    .rightColumn
        include sidebarWithFeatures.jade
    .mainColumn.panel
        .contentWrapper
            h2 About
            p ChildPass is a suite of child security products resulting from decades of research and development in the line of duty.
            p
                | Developed by two highly decorated New York City Police Officers, the question is simple:  are you prepared should the unthinkable occur?  ChildPass is here to help you store critical identification information both in a convenient kit at home and securely online.  The minutes and hours after a child is reported missing are the most critical. Law enforcement officials rely on accurate and current detailed information to increase the odds of finding and returning your child safely to you.
            p
                | Having your child’s information up to date, documented and accessible, allows officials to expedite their investigation, when every precious moment counts. The ChildPass solution allows parents and caregivers direct access with law enforcement authorities to bring positive conclusions to devastating situations. Simultaneously to police authorities launching their investigation, the ChildPass Emergency Alert System allows parents and legal guardians to launch their own global alert within and outside their social network, local schools, hospitals and whomever they wish to include in this notification – with the simple click of a button.
            h2 Mission
            p
                | The mission of ChildPass is simple: we are providing a complete solution to the natural and unavoidable gap in time that elapses when a parent or caregiver realizes their child is missing and law enforcement is getting it’s investigation underway. We do so by empowering the parent by providing them with the necessary tools to record critical information about that child. Your child’s online profile, formatted with critical pedigree data is can now be transmitted with the click of a button, launching a massive alert to the most important people closest to your child.
            h2 The Founders
            .founders
                img(src=$this->baseUrl . '/images/Peter.png')
                h3 Peter Metti
                p
                    | Peter Metti is a retired NYC Police Detective, with over 25 years of extensive police experience involving all aspects of law enforcement.  Peter developed expertise in latent and inked fingerprint technology, including identification, examination, comparison, recovery and education.  Peter is a judicially recognized expert in fingerprint analysis and technology.
                img(src=$this->baseUrl . '/images/Alan.png')
                h3 Alan Schissel
                p
                    | Alan Schissel is a highly decorated retired police sergeant with the New York City Police Department. During his tenure with the NYPD, Mr. Schissel received numerous department awards and medals including; bronze star commendation, 1990 unit citation award, induction into the NYPD Honor Legion and Certificate of Honor recipient from the NYPD Sergeants Benevolent Association. Mr. Schissel is the founder and CEO of a  national recognized private investigative and security and safety consulting firm with 20 years of private corporate experience.
        .clearRight