.aboutPage
    .rightColumn
        include sidebarWithFeatures.jade
    .mainColumn.panel
        .contentWrapper.faq
            h2 FAQ
            ul.faqList
                li.item
                    .question What is ChildPass?
                    p.answer
                        | ChildPass is the first total child identity solution that puts child predators at a disadvantage.  ChildPass provides parents and care givers with a personalized ID kit (your childs' personal passport) and access to our protected website and tools, reducing lost time, when time means the most. Imagine having total control, using a secure web based portal, to disseminate a complete profile of your child the moment he or she goes missing. Imagine immediate access to key friends, family, schools, hospitals, google, Facebook and Twitter.  While law enforcements response is often encumbered with legal protocols and procedures,  your ChildPass identity kit will significantly reduce lost time by hours – because every second counts. ChildPass is a physical and digital solution empowering parents and guardians to find and identify a missing child by utilizing their social network through the ChildPass Emergency Alert System.
                li.item
                    .question Why should I trust ChildPass?
                    p.answer
                        | ChildPass is the lifelong dream come to reality of two retired law enforcement professionals. Our Founders served heroically and with distinction with the NYPD for decades and have made recovery solutions for missing or abducted children  the focus of their retirement. Please visit the About section of our website to learn more about who we are and what our mission is, as well as additional safety & security measures for your family.
                li.item
                    .question How old do I have to be to use ChildPass?
                    p.answer
                        | We require any parent or legal guardian to be at least 18 years old to function as the custodian of this very serious and powerful tool.
                li.items
                    .question Is ChildPass age specific?
                    p.answer
                        | We recommend you purchase ChildPass for children from toddler age to young adult. Parents of children with special needs, living with or without primary caregivers can continue to have their identity kit and web based profile updated after their childs'18th birthday.
                li.item
                    .question What exactly happens if my child goes missing? How does ChildPass work?
                    p.answer
                        | Once you determine your child is missing we recommend you call 911 immediately. Remember, every second counts!  Depending on the ChildPass product you have purchased, you will have access to our Emergency Alert System (ERS), which, if you set up correctly, will take you through just a few steps to launch an alert. Activating the ERS will instantly allow you to send a detailed pdf profile to your social network and any other emergency contacts you listed as critical recipients of this information. Next, locate your childs Identity Kit and be prepared to share that information with your local law enforcement officials.
                li.item
                    .question How do I know my child’s info online is safe and secure?
                    p.answer
                        | ChildPass has a three part security protocol: email confirmation verification, a TRUSTe policy, SSL encryption and rigid password requirements. With these standards, we are confident your critical family and child information is safe and secure from internet predators.
                li.item
                    .question Can Non professionals really take accurate fingerprints?
                    p.answer
                        | Yes, our patented technology along with modern fingerprint analytics, provide the average person with simpler methods of taking your childs' fingerprints. Fingerprints have ridges that form characteristics. There are approximately 125 of these characteristics in each finger. Computers now measures the distances between these ridge characteristics and stores the data. Computers are now capable of reading fingerprints which allow non-professionals to take identifiable prints with great success.
                li.item
                    .question Can Non professionals really take accurate fingerprints?
                    p.answer Completed kits should be kept in a secure dry place inside the home.
                li.item
                    .question What types of personal information do we collect about kids?
                    p.answer
                        | We collect very detailed and personal information in order to develop a comprehensive profile which translated into a personalized Missing Child Flyer (pdf) that will be broadcast  to the list of recipients entered into your childs' website profile. Parent or caregivers can enter as much or as little as they wish about their child, including, but not limited to, where they attend school, friends, relatives, hospitals, medication, after school programs, distinguishing marks, photos, dental records, fingerprints, and the WHO, WHAT, WHEN, WHERE and WHY of their child’s disappearance.
                li.item
                    .question How often should I update my childs' information
                    p.answer
                        | Different aspects of your childs profile require updating as your child matures. Schools, team participation and other outside recreational hobbies can be added and removed as frequently as you like. ChildPass recommends that for children under the age of five (5) should have a new photo taken every six (6) months-1year. Children over the age of five (5) should have a photo renewed yearly. Medical and Dental records often change as your child matures, consult with your child’s health care professionals when significant physical changes occur.
                li.item
                    .question How do we use and share the personal information that we have collected from parents?
                    p.answer
                        | We Don’t! Please refer to our PRIVACY POLICY but, in short, once your childs' information in entered, the only thing ChildPass does is keep it safe and secure. We have no access at that point unless granted permission by parents or guardians. The ChildPass solution is totally under control of the parents or legal guardian. ChildPass does not share ANY information whatsoever with any third party.
                li.item
                    .question Are there ANY circumstances where ChildPass information would be revealed to law enforcement officials?
                    p.answer
                        | Yes, only if ChildPass is compelled by a legally specific subpoena or court order would ChildPass provide access to its servers.
                li.item
                    .question How do we notify and obtain consent from parents for the collection of personal information from their kid?
                    p.answer
                        | Right on our site, we get full authorization from parents and legal guardians to do the work we do with ChildPass by agreeing to our terms and conditions. Please see our Terms at anytime.
                li.item
                    .question How can parents access, change or delete personal information about their kids?
                    p.answer
                        | Parents and caregivers can update and edit all profile information any at any time, Access to your child’s profile is 24/7 with the correct log-in information.
                li.item
                    .question How will we notify parents if our Terms or Privacy Policy changes?
                    .answer
                        | We will email you a notification as well as making a note on our website.
        .clearRight