.aboutbox
    .abouthead FAQ
    div(style='margin-bottom: 0px; font-weight: bold;') How do I fingerprint my child?
    p(style='margin-bottom: 21px;')
        | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
        a   Click here to watch the video.
    div(style='margin-bottom: 0px; font-weight: bold;') How do I get a DNA sample of my child?
    p(style='margin-bottom: 21px;')
        | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
        a   Click here to watch the video.
    div(style='margin-bottom: 0px; font-weight: bold;') How do I get a DNA sample of my child?
    p(style='margin-bottom: 21px;')
        | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
        a   Click here to watch the video.
    div(style='margin-bottom: 0px; font-weight: bold;') How do I get a DNA sample of my child?
    p(style='margin-bottom: 21px;')
        | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
        a   Click here to watch the video.
    div(style='margin-bottom: 0px; font-weight: bold;') How do I get a DNA sample of my child?
    p(style='margin-bottom: 21px;')
        | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
        a   Click here to watch the video.
    div(style='margin-bottom: 0px; font-weight: bold;') How do I get a DNA sample of my child?
    p(style='margin-bottom: 21px;')
        | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
        a   Click here to watch the video.
    div(style='margin-bottom: 0px; font-weight: bold;') How do I get a DNA sample of my child?
    p(style='margin-bottom: 65px;')
        | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
        a   Click here to watch the video.
a(href=$this->createUrl('user/register'))
    .powerblock(style='width: 286px; height: 102px; float: left; margin: 15px 0px 12px 20px; padding-top: 20px;') Register and upload now!
.prodbox.pcol
    img(style='float: left; margin: 9px 0 0 10px;', src=$this->baseUrl . '/images/camera.png')
    .titlebox
        div(style='float: left; text-shadow: 0.06em 0.06em 0.1em gray;') GPS Tracking
        p Duis lorem est, blandit ac tortor sed, luctus luctus velit
    a details»
.prodbox.pcol
    img(style='float: left; margin: 15px 0 0 15px;', src=$this->baseUrl . '/images/camera.png')
    .titlebox
        div(style='float: left; text-shadow: 0.06em 0.06em 0.1em gray;') Personal Profile
        p Duis lorem est, blandit ac tortor sed, luctus luctus velit
    a details»
.prodbox.pcol
    img(style='float: left; margin: 27px 0 0 10px;', src=$this->baseUrl . '/images/camera.png')
    .titlebox
        div(style='float: left; text-shadow: 0.06em 0.06em 0.1em gray;') DNA Record
        p Duis lorem est, blandit ac tortor sed, luctus luctus velit
    a details»
.prodbox.pcol
    img(style='float: left; margin: 27px 0 0 10px;', src=$this->baseUrl . '/images/camera.png')
    .titlebox
        div(style='float: left; text-shadow: 0.06em 0.06em 0.1em gray;') Fingerprint Kit
        p Duis lorem est, blandit ac tortor sed, luctus luctus velit
    a details»
.prodbox.pcol
    img(style='float: left; margin: 27px 0 0 14px;', src=$this->baseUrl . '/images/camera.png')
    .titlebox
        div(style='float: left; text-shadow: 0.06em 0.06em 0.1em gray;') Recent Photos
        p Duis lorem est, blandit ac tortor sed, luctus luctus velit
    a details»
.prodbox.pcol
    img(style='float: left; margin: 25px 0 0 20px;', src=$this->baseUrl . '/images/camera.png')
    .titlebox
        div(style='float: left; text-shadow: 0.06em 0.06em 0.1em gray;') Dental Record
        p Duis lorem est, blandit ac tortor sed, luctus luctus velit
    a details»
