.aboutPage
    .rightColumn
        include sidebarWithFeatures.jade
    .mainColumn.panel
        .contentWrapper.faq
            h2 FAQ
            ul.faqList
                li.item
                    .question What do I do if my child goes missing?
                    p.answer
                        | ACT IMMEDIATELY. Time is crucial, so search the house and carefully look in surrounding areas.
                        br
                        | If you still cannot find your child DO NOT HESITATE - IMMEDIATELY CALL 911.
                        br
                        | Then ACTIVATE EMERGENCY ALERT on the CHILDPASS web site.
                        br
                        | Have a description of clothing worn by missing child, and location where the child was last seen ready for police.
                li.item
                    .question How do I know the information put onto the CHILDPASS web site is safe?
                    p.answer.
                        I need help in answering this question.
                li.item
                    .question What type of photo do I post on web site?
                    p.answer.
                        A quality identifying photograph is the single most important tool for recovering your child in case of an abduction.
                        Photo should be a close up showing frontal view of child's face.
                li.items
                    .question How often should photo be update?
                    p.answer.
                        It is suggested that children under the age of five (5) should have a new photo taken every six (6) months.
                        Children over the age of five (5) should have photo renewed yearly.
                li.item
                    .question How often does DNA sample need to be replaced?
                    p.answer.
                        Your should renew DNA sample every five (5) years.
                li.item
                    .question Is it necessary to replace fingerprints?
                    p.answer.
                        NO. The identifying ridge characteristics do not change as we grow.
                        Once a quality set of fingerprints has been taken it is not necessary to reprint.
                li.item
                    .question Where should completed kits be kept?
                    p.answer.
                        Completed kits should be kept in a secure dry place inside the home.
        .clearRight