.aboutPage
    .rightColumn
        include sidebarWithFeatures.jade
    .mainColumn.panel
        .contentWrapper
            h2 FAQ
            div(style='margin-bottom: 0px; font-weight: bold;') How do I fingerprint my child?
            p(style='margin-bottom: 21px;')
                | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
                a   Click here to watch the video.
            div(style='margin-bottom: 0px; font-weight: bold;') How do I get a DNA sample of my child?
            p(style='margin-bottom: 21px;')
                | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
                a   Click here to watch the video.
            div(style='margin-bottom: 0px; font-weight: bold;') How do I get a DNA sample of my child?
            p(style='margin-bottom: 21px;')
                | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
                a   Click here to watch the video.
            div(style='margin-bottom: 0px; font-weight: bold;') How do I get a DNA sample of my child?
            p(style='margin-bottom: 21px;')
                | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
                a   Click here to watch the video.
            div(style='margin-bottom: 0px; font-weight: bold;') How do I get a DNA sample of my child?
            p(style='margin-bottom: 21px;')
                | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
                a   Click here to watch the video.
            div(style='margin-bottom: 0px; font-weight: bold;') How do I get a DNA sample of my child?
            p(style='margin-bottom: 21px;')
                | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
                a   Click here to watch the video.
            div(style='margin-bottom: 0px; font-weight: bold;') How do I get a DNA sample of my child?
            p(style='margin-bottom: 65px;')
                | Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit.
                a   Click here to watch the video.
        .clearRight