.productbox.panel.productsPage
    h1 Your Child's Personal Identity Kit
    .forHome
        h2 For Home
        p.
            Duis lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
        p.textUnderImage.
            Duis lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
    h2 For Online
    .forOnline
        p.
            Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
        table
            tr
                td
                    ul.servicesList
                        li
                            .imageWrapper
                                img(src=$this->baseUrl . '/images/kids.png')
                            span Personal Profile
                        li
                            .imageWrapper
                                img(src=$this->baseUrl . '/images/camera.png')
                            span Recent Photo
                        li
                            .imageWrapper
                                img(src=$this->baseUrl . '/images/emergencyAlert.png')
                            span Emergency Alert PDF for Social Media Broadcast
                        li
                            .imageWrapper
                                img(src=$this->baseUrl . '/images/dental.png')
                            span Dental Record
                td.registerBlock
                    a.registerButton(href=$this->createUrl('user/register'))
                        .powerblock Register and upload now!

include relatedProducts.jade