.productbox
    h1 Your Child's Personal Identity Kit
    .forHome
        h2 For Home
        p.
            Duis lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
        p.textUnderImage.
            Duis lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
    h2 For Online
    .forOnline
        p.
            Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.
        table
            tr
                td
                    ul.servicesList
                        li
                            .imageWrapper
                                img(src=$this->baseUrl . '/images/kids.png')
                            span Personal Profile
                        li
                            .imageWrapper
                                img(src=$this->baseUrl . '/images/camera.png')
                            span Recent Photo
                        li
                            .imageWrapper
                                img(src=$this->baseUrl . '/images/emergencyAlert.png')
                            span Emergency Alert PDF for Social Media Broadcast
                        li
                            .imageWrapper
                                img(src=$this->baseUrl . '/images/dental.png')
                            span Dental Record
                td
                    a.registerButton(href=$this->createUrl('user/register'))
                        .powerblock(style='width: 235px; height: 117px; padding-top: 30px;') Register and upload now!

ul.relatedProducts
    li.productbox
        .imageWrapper
            img(src=$this->baseUrl . '/images/product_gps.png')
        .productDescription
            h3.productTitle Wearable GPS Tracking
                span (comin soon)
            p.
                Duis lorem est, blandit ac tortor sed, luctus luctus velit. Nisi libero Venenatis placerat ligula sed .

    li.spacer
    li.productbox
        .imageWrapper
            img(src=$this->baseUrl . '/images/product_microChip.png')
        .productDescription
            h3.productTitle Microchip GPS Implant
                span (comin soon)
            p.
                Duis lorem est, blandit ac tortor sed, luctus luctus velit. Nisi libero Venenatis placerat ligula sed .
