.productbox.panel.productsPage
    h1 Your Child's Personal Identity Kit
    .forHome
    .forOnline
        table
            tr
                td
                    ul.servicesList
                        li
                            .imageWrapper
                                img(src=$this->baseUrl . '/images/kids.png')
                            span Personal Profile
                        li
                            .imageWrapper
                                img(src=$this->baseUrl . '/images/camera.png')
                            span Recent Photo
                        li
                            .imageWrapper
                                img(src=$this->baseUrl . '/images/emergencyAlert.png')
                            span Emergency Alert PDF for Social Media Broadcast
                        li
                            .imageWrapper
                                img(src=$this->baseUrl . '/images/dental.png')
                            span Dental Record
                td.registerBlock
                    a.registerButton(href=$this->createUrl('user/register'))
                        .powerblock Register and upload now!

include relatedProducts.jade