ul.relatedProducts
    li.productbox.panel
        .imageWrapper
            img(src=$this->baseUrl . '/images/product_gps.png')
        .productDescription
            h3.productTitle Wearable GPS Tracking
                span (coming soon)
            p.
                Duis lorem est, blandit ac tortor sed, luctus luctus velit. Nisi libero Venenatis placerat ligula sed .

    li.spacer
    li.productbox.panel
        .imageWrapper
            img(src=$this->baseUrl . '/images/product_microChip.png')
        .productDescription
            h3.productTitle Microchip GPS Implant
                span (coming soon)
            p.
                Duis lorem est, blandit ac tortor sed, luctus luctus velit. Nisi libero Venenatis placerat ligula sed .
