a.regiserButton(href=$this->createUrl('user/register'))
    .powerblock Register and upload now!
.prodbox.pcol
    img(style='float: left; margin: 9px 0 0 10px;', src=$this->baseUrl . '/images/gps.png')
    .titlebox
        div(style='float: left; font-weight: bold;') GPS Tracking
    a(href=$this->createUrl('site/page', array('view'=>'product')))
        | details»
.prodbox.pcol
    img(style='float: left; margin: 15px 0 0 15px;', src=$this->baseUrl . '/images/kids.png')
    .titlebox
        div(style='float: left; font-weight: bold;') Personal Profile
    a(href=$this->createUrl('site/page', array('view'=>'product')))
        | details»
.prodbox.pcol
    img(style='float: left; margin: 27px 0 0 10px;', src=$this->baseUrl . '/images/DNA.png')
    .titlebox
        div(style='float: left; font-weight: bold;') DNA Record
    a(href=$this->createUrl('site/page', array('view'=>'product')))
        | details»
.prodbox.pcol
    img(style='float: left; margin: 27px 0 0 10px;', src=$this->baseUrl . '/images/hands.png')
    .titlebox
        div(style='float: left; font-weight: bold;') Fingerprint Kit
    a(href=$this->createUrl('site/page', array('view'=>'product')))
        | details»
.prodbox.pcol
    img(style='float: left; margin: 27px 0 0 14px;', src=$this->baseUrl . '/images/camera.png')
    .titlebox
        div(style='float: left; font-weight: bold;') Recent Photos
    a(href=$this->createUrl('site/page', array('view'=>'product')))
        | details»
.prodbox.pcol
    img(style='float: left; margin: 25px 0 0 20px;', src=$this->baseUrl . '/images/dental.png')
    .titlebox
        div(style='float: left; font-weight: bold;') Dental Record
    a(href=$this->createUrl('site/page', array('view'=>'product')))
        | details»