:php
    $baseUrl = Yii::app()->createAbsoluteUrl('/');
    $siteName = parse_url($baseUrl, PHP_URL_HOST);

.panel
    .terms_and_conditions
        .contentWrapper
            h2 Terms & conditions
            ol.nested-list
                li
                    h3 Terms of website use
                    p
                        | This page sets out the terms on which you may access and make use of our website&nbsp;
                        :php
                            echo CHtml::link($siteName, $baseUrl, array('target' => '_blank'));
                        | &nbsp;(the "Site"), whether as a guest or a registered user. Please read these terms of use carefully before you start to use the site. By using the Site, you indicate that you accept these terms of use and that you agree to abide by them. If you do not agree to these terms of use, please refrain from using the Site.  Please note, as of XX/XX/15, we are conducting a Beta Test which will result in the establishing of temporary accounts that will be purged before the site becomes live to the public.. When the site is actually live, the “Join Our Beta Test” button on the homepage will disappear.  We are offering complimentary accounts to any Beta Tester who contacts us.
                li
                    h3 Information about us
                    p
                        :php
                            echo CHtml::link($siteName, $baseUrl, array('target' => '_blank'));
                        | &nbsp;is a site operated by ChildPass, LLC. ("We").
                li
                    h3 Accessing the site
                    ol
                        li
                            | Access to the Site is permitted to those who are over the age of 18 years and who have agreed to out terms set forth hereafter as well as completed a successful e-commerce transaction or provided an active membership code from another source.
                        li
                            | From time to time, we may restrict access to some parts of the Site, or our entire site, to users who have registered with us and will provide proper notification should that be the case.
                        li
                            | If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party. We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to comply with any of the provisions of these terms of use. Law enforcement may be included in this process if sensitive and private information is made public to any third party not a member or child of a member, unless in the case of an authenticated emergency alert.
                        li
                            | You must keep your user name and password confidential at all times. Any breach of these terms of use by anyone to whom you disclose your password will be treated as if the breach had been committed by you, and will not relieve you of your obligations under these terms of use.
                        li
                            | You must take appropriate security measures to prevent unauthorised disclosure of your user name and password and you must notify us immediately if your password becomes known to any unauthorised user.
                        li
                            | You are responsible for making all arrangements necessary for you to have access to the Site.  You are also responsible for ensuring that all persons who access the Site through your internet connection are aware of these terms, and that they comply with them.
                        li
                            | Furthermore, ChildPass grants and transfers the rights of site usage and protection of information onto the active member parent or guardian.  Use of the site is solely the responsibility of the parent or guardian member and activation of the Emergency Alert System is solely the responsibility of the member parent or guardian and ChildPass bears no responsibility for usage of the system in any unlawful manner.
                        li
                            | In the execution and usage of the ChildPass website and Emergency Alert System, there may occur an error of the technology at no fault of the ChildPass serverside software.  Therefore, CHildPass transfers responsibilities of the execution of emails and alerts from our system using the Hosting Solution, Lithium Hosting, with a place of business at:
                    p Lithium Hosting
                        br
                        | P.O. Box 3702
                        br
                        | Des Moines, Iowa 50323-3702
                    p ChildPass bears no responsibility to failures in technology not related to our actions but the network and solution we are licensing from Lithium Hosting.
                li
                    h3 Intellectual property rights
                    ol
                        li We are the owner or the licensee of all intellectual property rights in the Site, and in the material and processes published on it.  Those works are protected by copyright laws and treaties around the world.  All such rights are reserved.
                        li You may print off one copy, and may download extracts, of any page(s) from the Site for your personal reference and you may draw the attention of others within your organisation to material posted on the Site.
                        li You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.
                        li Our status (and that of any identified contributors) as the authors of material on the Site must always be acknowledged.
                        li You must not use any part of the materials on the Site for commercial purposes without obtaining a licence to do so from us or our licensors.
                        li If you print off, copy or download any part of the Site in breach of these terms of use, your right to use the Site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.
                li
                    h3 Reliance on information posted
                    p
                        | Commentary and other materials posted on the Site are not intended to amount to advice on which reliance should be placed.  We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to the Site, or by anyone who may be informed of any of its contents.
                li
                    h3 The site changes regularly
                    p
                        | We aim to update the Site regularly, and may change the content at any time. If the need arises, we may suspend access to the Site, or close it indefinitely. Any of the material on the Site may be out of date at any given time, and we are under no obligation to update such material.
                li
                    h3 Our liability
                    ol
                        li The material displayed on the Site is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, we, other members of our group of companies and third parties connected to us hereby expressly exclude:
                            ol
                                li all conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity;
                                li any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with the Site or in connection with the use, inability to use, or results of the use of the Site, any websites linked to it and any materials posted on it, including, without limitation any liability for:
                                    ol
                                        li loss of income or revenue;
                                        li loss of business;
                                        li loss of profits or contracts;
                                        li loss of anticipated savings;
                                        li loss of data;
                                        li loss of goodwill;
                                        li wasted management or office time;
                                        li for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable.
                        li
                            | This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.
                li
                    h3 Prohibited uses
                    ol
                        li You may use the Site only for lawful purposes.  You may not use the Site:
                            ol
                                li If you are under the age of 18 years;
                                li in any way that breaches any applicable local, national or international law or regulation;
                                li in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;
                                li for the purpose of harming or attempting to harm minors in any way;
                                li to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards
                                li to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam); or
                                li to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.
                        li You also agree:
                            ol
                                li not to reproduce, duplicate, copy or re-sell any part of the Site in contravention of the provisions of our terms of website use;
                                li not to access without authority, interfere with, damage or disrupt:
                                li any part of the Site;
                                li any equipment or network on which the Site is stored;
                                li any software used in the provision of the Site; or
                                li any equipment or network or software owned or used by any third party.
                li
                    h3 Interactive services
                    ol
                        li We may from time to time provide interactive services on the Site, including, without limitation:
                            ol
                                li bulletin boards; (the "Interactive Services").
                        li
                            | Where we do provide any Interactive Services, we will provide clear information to you about the kind of service offered, if it is moderated and what form of moderation is used (including whether it is human or technical).
                        li
                            | We will do our best to assess any possible risks for users (and in particular, for children) from third parties when they use any Interactive Services provided on the Site, and we will decide in each case whether it is appropriate to use moderation of the relevant service (including what kind of moderation to use) in the light of those risks. However, we are under no obligation to oversee, monitor or moderate any Interactive Services we provide on the Site, and we expressly exclude our liability for any loss or damage arising from the use of any Interactive Services by a user in contravention of our content standards, whether the service is moderated or not.
                        li
                            | The use of any of our Interactive Services by a minor is subject to the consent of their parent or guardian. We advise parents who permit their children to use the Interactive Services that it is important that they communicate with their children about their safety online, as moderation is not foolproof. Minors who are using any Interactive Services should be made aware of the potential risks to them.
                        li
                            | Where we do moderate any Interactive Services, we will normally provide you with a means of contacting the moderator, should a concern or difficulty arise.
                li
                    h3 Content standards
                    ol
                        li These content standards apply to any and all material which you contribute to the Site ("Contributions"), and to any Interactive Services associated with it.
                        li You must comply with the spirit of the following standards as well as the letter. The standards apply to each part of any Contribution as well as to its whole.
                        li Contributions must:
                            ol
                                li be accurate (where they state facts);
                                li be genuinely held (where they state opinions); and
                                li comply with applicable laws in the UK and in any country from which the Contributions are posted.
                        li Contributions must not:
                            ol
                                li contain any material which is defamatory;
                                li contain any material which is obscene, offensive, hateful or inflammatory;
                                li promote sexually explicit material;
                                li promote violence;
                                li promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age;
                                li infringe any copyright, database right or trade mark of any other person;
                                li be likely to deceive any person;
                                li be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence;
                                li promote any illegal activity;
                                li be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless anxiety;
                                li be likely to harass, upset, embarrass, alarm or annoy any other person;
                                li be used to impersonate any person, or to misrepresent your identity or affiliation with any person;
                                li give the impression that they emanate from us, if this is not the case; or
                                li advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.
                li
                    h3 Suspension and termination
                    ol
                        li
                            | We will determine, in our discretion, whether there has been a breach of these  terms of use through your use of the Site.  When a breach of these terms of use has occurred, we may take such action as we deem appropriate.
                        li Failure to comply with these terms of use constitutes a material breach of these terms of use and may result in our taking all or any of the following actions:
                            ol
                                li immediate, temporary or permanent withdrawal of your right to use the Site;
                                li immediate, temporary or permanent removal of any posting or material uploaded by you to the Site;
                                li issue of a warning to you;
                                li legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach;
                                li further legal action against you; or
                                li disclosure of such information to law enforcement authorities as we reasonably feel is necessary.
                        li
                            | We exclude liability for actions taken in response to breaches of these terms of use.  The responses described in these Terms of use are not limited, and we may take any other action we reasonably deem appropriate.
                li
                    h3 Information about you and your visits to the site
                    p
                        | We process information about you in accordance with our privacy policy.  By using the Site, you consent to such processing and you warrant that all data provided by you is accurate, unless participating in a testing or Beta period of the software.
                li
                    h3 Viruses, hacking and other offences
                    ol
                        li
                            | You must not misuse the Site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to the Site, the server on which the Site is stored or any server, computer or database connected to the Site. You must not attack the Site via a denial-of-service attack or a distributed denial-of service attack.
                        li
                            | By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use the Site will cease immediately.
                        li
                            | We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of the Site or to your downloading of any material posted on it, or on any website linked to it.
                li
                    h3 Linking to the site
                    ol
                        li
                            | You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.
                        li You must not establish a link from any website that is not owned by you.
                        li
                            | The Site must not be framed on any other site, nor may you create a link to any part of the Site other than the home page. We reserve the right to withdraw linking permission without notice. If you wish to make any use of material on the Site other than that set out above, please address your request to info@gumbogang.com.
                li
                    h3 Links from the site
                    p
                        | Where the Site contains links to other sites and resources provided by third parties, these links are provided for your information only.  We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.
                li
                    h3 Jurisdiction and applicable law
                    ol
                        li
                            | The English courts will have [non]-exclusive jurisdiction over any claim arising from, or related to, a visit to the Site [although we retain the right to bring proceedings against you for breach of these conditions in your country of residence or any other relevant country].
                        li
                            | These terms of use and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the laws of the State of Louisiana.
                li
                    h3 Variations
                    p
                        | We may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you. Some of the provisions contained in these terms of use may also be superseded by provisions or notices published elsewhere on the Site.
                li
                    h3 Your concerns
                    p
                        | If you have any concerns about material which appears on the Site, please contact&nbsp
                        a(href="mailto:info@yourchildpass.com", target='_blank')
                            | info@yourchildpass.com
                        | .
                    p Thank you for visiting the Site.