.aboutPage
    .rightColumn
        include sidebarWithFeatures.jade
    .mainColumn.panel
        .contentWrapper
            h2 Testimonials
            p(style='margin-bottom: 0px;')
                | “Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.”
            div(style='margin-bottom: 30px;') Marco Polo - CEO, Polo Ponies Inc.
            hr(style='margin-bottom: 25px;')
            p(style='margin-bottom: 0px;')
                | “Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.”
            div(style='margin-bottom: 30px;') Marco Polo - CEO, Polo Ponies Inc.
            hr(style='margin-bottom: 25px;')
            p(style='margin-bottom: 0px;')
                | “Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.”
            div(style='margin-bottom: 30px;') Marco Polo - CEO, Polo Ponies Inc.
            hr(style='margin-bottom: 25px;')
            p(style='margin-bottom: 0px;')
                | “Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.”
            div(style='margin-bottom: 30px;') Marco Polo - CEO, Polo Ponies Inc.
            hr(style='margin-bottom: 25px;')
            p(style='margin-bottom: 0px;')
                | “Justo sit amet nibh luctus fringilla sit amet in sem. Pellentesque sed nibh quis nisi venenatis iaculis ut eu risus. Lorem est, blandit ac tortor sed, luctus luctus velit. Donec nisi libero, venenatis placerat ligula sed, ultrices fermentum justo.”
            div(style='margin-bottom: 27px;') Marco Polo - CEO, Polo Ponies Inc.
        .clearRight