.aboutPage
    .rightColumn
        include sidebarWithFeatures.jade
    .mainColumn.panel
        .contentWrapper
            h2 Testimonials
            h3 The Town School
            p
                | In the 10 years I have worked with Integrated Security Services, I have always relied on the experience and knowledge they bring with their services which has guided me through many challenging security and safety initiatives over the years. I believe what sums it up is that Mr. Schissel and his company, has proven the ability to manage in highly sensitive work environments with the utmost discretion and professionalism...
                a(href="http://www.intesecurity.com/wp-content/uploads/testimonial-the-town-school.pdf", target="_blank") » read more
            p Stephen Petrillo
                br
                i Director of Security, Facilities and Transportation
            h3 Lycée Français de New York
            p
                | For the past 13 years, the Lyree Francais de New York has sought out direction and leadership for the security of our school from Integrated Security Services, Inc. The Lycee Francais continues to receive professional security services and support from Integrated Security Services Inc, with special attention and expertise from its President, Mr. Schissel, providing the Lycee with a physical security solution, security and safety protocol and professional security staff.
                a(href="http://www.intesecurity.com/wp-content/uploads/testimonial-lycee-francais.pdf", target="_blank") » read more
            p Naz Kamal
                br
                i Business Manager
            h3 Carnegie Hill Neighbors
            p
                | As a Board Member and Co-Chair of The Carnegie Hill Neighbors Organization’s Security Program, I have had the good fortune to collaborate with Alan Schissel, and his company Integrated Security Services for the past seven years. Carnegie Hill Neighbors’ Security Program supported by Mr. Schissel’s company since September 2007, has been instrumental in contributing to the sense of security we all enjoy...
                a(href="http://www.intesecurity.com/wp-content/uploads/testimonial-carnegie-hill.pdf", target="_blank") » read more
            p George N. Stonbely
                br
                i Carnegie Hill Neighbors
        .clearRight