!!! 5
html(lang='en')
    head
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='ChildPass', content='')

        title
            | Childpass

        :php
            Yii::app()->getClientScript()->registerCssFile($this->baseUrl . '/css/old/reset.css');
            Yii::app()->getClientScript()->registerCssFile($this->baseUrl . '/css/old/style.css');
            Yii::app()->getClientScript()->registerCssFile($this->baseUrl . '/css/old/text.css');
            Yii::app()->getClientScript()->registerCssFile($this->baseUrl . '/css/old/960.css');
            Yii::app()->getClientScript()->registerCssFile($this->baseUrl . '/css/old/coin-slider-styles.css');
            Yii::app()->getClientScript()->registerCssFile($this->baseUrl . '/css/app.css');
            Yii::app()->getClientScript()->registerCssFile('/libs/jquery-ui/themes/aristo/aristo.css');


    -$bodyClass = 'page-' . Yii::app()->controller->id . ucfirst(Yii::app()->controller->action->id);
    body(class=bodyClass)
        #page.container_16
            #header
                .logoWrapper
                    div.hintText
                    div
                        a(href=$this->baseUrl . '/')
                            img(src=$this->baseUrl . '/images/CP_logo.png', width='356', height='125', alt='ChildPass')
                .mainMenuWrapper
                    #infoMessage
                        -if (!Yii::app()->user->isGuest):
                            a.survey_link(href=$this->createUrl('child/survey')) Survey
                            a.activateAlert(href=$this->createUrl('child/list')) Activate
                                br
                                | Emergency Alert


                        :php
                            $this->widget('application.components.LoginFormWidget');
                    ul.nav
                        li
                            :php
                                echo CHtml::link('About us', array('site/page', 'view'=>'about'));
                        li.separator
                        li
                            :php
                                echo CHtml::link('Products', array('site/page', 'view'=>'product'));
                        li.separator
                        li
                            :php
                                echo CHtml::link('Testimonials', array('site/page', 'view'=>'testimonials'));
                        li.separator
                        li
                            :php
                                echo CHtml::link('FAQ', array('site/page', 'view'=>'faq'));
                        li.separator
                        li
                            :php
                                echo CHtml::link('Blog', 'http://childpass.tumblr.com/');
                        li.reg
                            - if (Yii::app()->user->isGuest):
                                :php
                                    echo CHtml::link('Join Our<br>Beta Test', array('user/register', 'view'=>'faq'));
                            - else:
                                :php
                                    echo CHtml::link('My Kids', array('child/list', 'view'=>'faq'));
            #content
                !=$content

            #footer
                | Endorsed by:
                ul.logosWrapper
                    li: img(src=$this->baseUrl . '/images/iss_logo.png')
                    li: img(src=$this->baseUrl . '/images/thetownschool.jpg')
                    li: img(src=$this->baseUrl . '/images/Lycee_LogoBLUE.png')
                    li: img(src=$this->baseUrl . '/images/carnegie-hill.png')
            .footer_nav
                ul
                    li
                        :php
                            echo CHtml::link('About us', array('site/page', 'view'=>'about'));
                    li
                        :php
                            echo CHtml::link('Products', array('site/page', 'view'=>'product'));
                    li
                        :php
                            echo CHtml::link('Testimonials', array('site/page', 'view'=>'testimonials'));
                    li
                        :php
                            echo CHtml::link('FAQ', array('site/page', 'view'=>'faq'));
                    li
                        :php
                            echo CHtml::link('Terms & conditions', array('site/page', 'view'=>'terms'));
                    li
                        :php
                            echo CHtml::link('Privacy Policy', array('site/page', 'view' => 'privacy-policy'));
            div.dialogs
                div#activateAlertDialog.dialog(style="border: 10px #f00 solid; display: none; overlow: auto;")


        :php
            Yii::app()->getClientScript()->registerCoreScript('jquery');
            Yii::app()->getClientScript()->registerCoreScript('jquery.ui');
            Yii::app()->getClientScript()->registerCoreScript("yiiactiveform");

            Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/libs/coin-slider.js');
            Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/libs/jquery-ui-timepicker-addon.js');
            Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/js/activate_alert.js');

        if (array_key_exists('openAlertDialog', $_GET)):
            script
                var openAlertDialog = true;

        | <!--[if lt IE 9]>
        | <script src="<?php echo $this->baseUrl; ?>/js/placeholder-fix.js">
        | </script>
        | <![endif]-->
