!!! 5
html(lang='en')
    head
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='Child Pass', content='')

        title
            | Childpass

        :php
            Yii::app()->getClientScript()->registerCssFile($this->baseUrl . '/css/old/reset.css');
            Yii::app()->getClientScript()->registerCssFile($this->baseUrl . '/css/old/style.css');
            Yii::app()->getClientScript()->registerCssFile($this->baseUrl . '/css/old/text.css');
            Yii::app()->getClientScript()->registerCssFile($this->baseUrl . '/css/old/960.css');
            Yii::app()->getClientScript()->registerCssFile($this->baseUrl . '/css/old/coin-slider-styles.css');
            Yii::app()->getClientScript()->registerCssFile($this->baseUrl . '/css/app.css');
            Yii::app()->getClientScript()->registerCssFile('/libs/jquery-ui/themes/aristo/aristo.css');

    -$bodyClass = 'page-' . Yii::app()->controller->id . ucfirst(Yii::app()->controller->action->id);
    body(class=bodyClass)
        #page.container_16
            #header
                .logoWrapper
                    div.hintText
                        span(style='color: #757575;') Toll Free:
                        span(style='color: #ed8b37;') 1.800.CHILD
                        span(style='color: #002f65;') IK
                    div
                        a(href=$this->baseUrl . '/')
                            img(src=$this->baseUrl . '/images/CP_logo.png', width='356', height='125', alt='Child Pass')
                .mainMenuWrapper
                    #infoMessage
                        -if (!Yii::app()->user->isGuest):
                            a.survey_link(href=$this->createUrl('child/survey')) Survey
                                //br
                                //| &nbsp;
                            a.activateAlert(href=$this->createUrl('child/list')) Activate
                                br
                                | Emergency Alert


                        :php
                            $this->widget('application.components.LoginFormWidget');
                    ul.nav
                        li
                            a(href=$this->createUrl('site/page', array('view'=>'about')))
                                | About Us
                        li.separator
                        li
                            a(href=$this->createUrl('site/page', array('view'=>'product')))
                                | Products
                        li.separator
                        li
                            a(href=$this->createUrl('site/page', array('view'=>'testimonials')))
                                | Testimonials
                        li.separator
                        li
                            a(href=$this->createUrl('site/page', array('view'=>'faq')))
                                | FAQ
                        li.reg
                            - if (Yii::app()->user->isGuest):
                                a(href=$this->createUrl('user/register'))
                                    | Join Our
                                    br
                                    | Beta Test
                            - else:
                                a(href=$this->createUrl('child/list'))
                                    | My Kids
            #content
                !=$content

            #footer
                | Endorsed by:
                ul.logosWrapper
                    li
                        img(src=$this->baseUrl . '/images/iss_logo.png')
                    li
                        img(src=$this->baseUrl . '/images/mammalfish_logo.png')

            div.dialogs
                div#activateAlertDialog.dialog(style="border: 10px #f00 solid; display: none; overlow: auto;")


        :php
            Yii::app()->getClientScript()->registerCoreScript('jquery');
            Yii::app()->getClientScript()->registerCoreScript('jquery.ui');
            Yii::app()->getClientScript()->registerCoreScript("yiiactiveform");

            Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/libs/coin-slider.js');
            Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/libs/jquery-ui-timepicker-addon.js');


            Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/js/placeholder-fix.js');

            Yii::app()->getClientScript()->registerScriptFile($this->baseUrl . '/js/activate_alert.js');

