#coin-slider
    a(href=$this->createUrl('site/page', array('view'=>'product')), target='_blank')
        img(src=$this->baseUrl . '/images/4.jpg')
    a(href=$this->createUrl('site/page', array('view'=>'product')), target='_blank')
        img(src=$this->baseUrl . '/images/1.jpg')
    a(href=$this->createUrl('site/page', array('view'=>'product')), target='_blank')
        img(src=$this->baseUrl . '/images/3.jpg')
    a(href=$this->createUrl('site/page', array('view'=>'product')), target='_blank')
        img(src=$this->baseUrl . '/images/2.png')
    a(href=$this->createUrl('site/page', array('view'=>'product')), target='_blank')
        img(src=$this->baseUrl . '/images/5.jpg')
    a(href=$this->createUrl('site/page', array('view'=>'product')), target='_blank')
        img(src=$this->baseUrl . '/images/6.png')
    a(href=$this->createUrl('site/page', array('view'=>'product')), target='_blank')
        img(src=$this->baseUrl . '/images/7.png')

:javascript
    $(document).ready(function() {
      $('#coin-slider').coinslider({ width: 960, height: 420, navigation: false, spw: 1, sph: 1});
    });

.desc
    span.logocolor CHILDPASS
    | : the first total solution to managing you child's personal  identity should your child be reported missing or abducted.  The product suite includes the following:

.distributedItems
    .prodbox.item
        img(style='float: left; margin: 9px 0 0 10px;', src=$this->baseUrl . '/images/gps.png')
        .titlebox
            div(style='float: left; font-weight: bold;') GPS Tracking
        a(href=$this->createUrl('site/page', array('view'=>'product')))
            | details»
    =' '
    .prodbox.item
        img(style='float: left; margin: 15px 0 0 15px;', src=$this->baseUrl . '/images/kids.png')
        .titlebox
            div(style='float: left; font-weight: bold;') Personal Profile
        a(href=$this->createUrl('site/page', array('view'=>'product')))
            | details»
    =' '
    .prodbox.item
        img(style='float: left; margin: 27px 0 0 10px;', src=$this->baseUrl . '/images/DNA.png')
        .titlebox
            div(style='float: left; font-weight: bold;') DNA Record
        a(href=$this->createUrl('site/page', array('view'=>'product')))
            | details»
    span.stretch
.distributedItems
    .prodbox.item
        img(style='float: left; margin: 27px 0 0 10px;', src=$this->baseUrl . '/images/hands.png')
        .titlebox
            div(style='float: left; font-weight: bold;') Fingerprint Kit
        a(href=$this->createUrl('site/page', array('view'=>'product')))
            | details»
    =' '
    .prodbox.item
        img(style='float: left; margin: 25px 0 0 20px;', src=$this->baseUrl . '/images/dental.png')
        .titlebox
            div(style='float: left; font-weight: bold;') Dental Record
        a(href=$this->createUrl('site/page', array('view'=>'product')))
            | details»
    =' '
    .prodbox.item
        img(style='float: left; margin: 27px 0 0 14px;', src=$this->baseUrl . '/images/camera.png')
        .titlebox
            div(style='float: left; font-weight: bold;') Recent Photos
        a(href=$this->createUrl('site/page', array('view'=>'product')))
            | details»
    span.stretch
