-$form=$this->beginWidget('CActiveForm');

.row.signUpLink
    | Want to be an intern?
    a(href=$this->createUrl('intern/registration')) Apply

.row
    !=$form->error($model,'password')
    !=$form->textField($model,'username', array('placeholder' => 'Email'))

.row
    !=$form->passwordField($model,'password', array('placeholder' => 'Password'))

.row.rememberMe
    !=$form->checkBox($model,'rememberMe')
    !=$form->label($model,'rememberMe')

.row.forgotPasswordLink
    a(href=$this->createUrl('user/forgotPassword')) Forgotten password?

.row.submit
    !=CHtml::submitButton('Login')

-$this->endWidget();
