:php
    $form=$this->beginWidget('CActiveForm', array(
        'enableAjaxValidation'   => false,
            'enableClientValidation' => true,
            'clientOptions'          => array(
                'validateOnSubmit' => true,
            ),
        ));

.row.signUpLink
    | Do not have an account?&nbsp;
    a(href=$this->createUrl('user/register')) Register

.row
    !=$form->textField($model,'email', array('placeholder' => 'Email'))
    !=$form->error($model,'email')

.row.forgotPasswordLink
    a(href=$this->createUrl('user/login')) Login?

.row.submit
    !=CHtml::submitButton('Submit')

-$this->endWidget();
