.panel
    .contentWrapper
        -$form=$this->beginWidget('CActiveForm');

        .row.signUpLink
            | Welcome to Child Pass, please login below:

        .row
            !=$form->textField($model,'username', array('placeholder' => 'Email'))
            !=$form->error($model,'username')

        .row
            !=$form->passwordField($model,'password', array('placeholder' => 'Password'))
            !=$form->error($model,'password')

        .row.rememberMe
            !=$form->checkBox($model,'rememberMe')
            !=$form->label($model,'rememberMe')

        .row.forgotPasswordLink
            a(href=$this->createUrl('user/forgotPassword')) Forgot password?
        | Do not have an account?&nbsp;
        a(href=$this->createUrl('user/register')) Register

        .row.submit
            !=CHtml::submitButton('Login')

        -$this->endWidget();
