:php
    $form=$this->beginWidget('CActiveForm', array(
        'enableAjaxValidation'   => false,
            'enableClientValidation' => true,
            'clientOptions'          => array(
                'validateOnSubmit' => true,
            ),
        ));

.row.signUpLink
    | Want to be an intern?
    a(href=$this->createUrl('intern/registration')) Apply

.row
    !=$form->error($model,'password')
    !=$form->passwordField($model, 'password', array('placeholder' => 'Password'))

.row.forgotPasswordLink
    a(href=$this->createUrl('site/login')) Login?

.row.submit
    !=CHtml::submitButton('Submit')

-$this->endWidget();
