:php
    $form=$this->beginWidget('CActiveForm', array(
        'enableAjaxValidation'   => false,
            'enableClientValidation' => true,
            'clientOptions'          => array(
                'validateOnSubmit' => true,
            ),
        ));

.row.signUpLink
    | Do not have an account?&nbsp;
    a(href=$this->createUrl('user/register')) Register

.row
    !=$form->passwordField($model, 'password', array('placeholder' => 'Password'))
    !=$form->error($model, 'password')

.row
    !=$form->passwordField($model, 'confirmPassword', array('placeholder' => 'Confirm Password'))
    !=$form->error($model, 'confirmPassword')


.row.forgotPasswordLink
    a(href=$this->createUrl('site/login')) Login?

.row.submit
    !=CHtml::submitButton('Submit')

-$this->endWidget();
