.panel.contentWrapper
    p.row
        | Please, reset your password below:

    :php
        $form=$this->beginWidget('CActiveForm', array(
            'enableAjaxValidation'   => false,
            'enableClientValidation' => true,
            'clientOptions'          => array(
                'validateOnSubmit' => true,
            ),
        ));

    .row
        !=$form->passwordField($model, 'password', array('placeholder' => 'Password'))
        !=$form->error($model, 'password')

    .row
        !=$form->passwordField($model, 'confirmPassword', array('placeholder' => 'Confirm Password'))
        !=$form->error($model, 'confirmPassword')

    .row.submit
        !=CHtml::submitButton('Submit')

    -$this->endWidget();
