.mainContentWrapper
    h2 Join Our Beta Test
    h3 Welcome!
    p
        | We are excited you’ll be participating in our Beta test. Our hope is to learn more about your concerns regarding your child’s safety, and how the ChildPass solution and products can provide you with peace of mind.
    p
        | Before we send you your kit, you need get you fully enrolled.  As you’ll see below, there are just a few easy steps to signing up and we will mail you your child’s personal Identity Kit.
    p
        | When the kit arrives, log back onto the site and  into your account, to activate and complete the online profile .  Please keep in mind, this Beta Test is 100% free of charge and 100% safe and secure.  With our Internet security partners, you can have total confidence that your child’s information is safe with ChildPass.
    h3 Just 2 easy steps...
    .panel.registrationFormWrapper
        .stepsWrapper
            .powerblock.active Create Account
            .spacer
            .powerblock Complete Your Child's Profile
        p (All fields are required.)
        //form(style='margin-left: 90px;', action=$this->createUrl('user/register'), accept-charset='utf-8', method='post')
        !=$form->renderBegin()
            div(style='width: 380px; text-align: right;')
                div.row
                    !=$form['user']['email']
                div.row
                    !=$form['user']['password']
                div.row
                    !=$form['user']['name']
                div.row(style='margin-bottom: 60px; position: relative;')
                    !=$form->buttons['register']

        !=$form->renderEnd();
include ../site/pages/relatedProducts.jade